@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100&display=swap');

$gray_1: #d7dee5;
$gray_2: #b9c5d5;
$gray_3: #a9b6cb;
$gray_4: #9ba2ac;
$gray_7: #4b4e58;
$primary_1: #d81e43;
$primary_2: #b2728c;
$primary_3: #d7a5bd;

h1 {
  color: red;
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 700;
}
